.services-container {
	display: flex;
	justify-content: space-between;
}

.custom-service-text {
	font-size: 10rem;
	font-weight: 700;
}

.dots-background {
	background: radial-gradient(circle, #000 1px, transparent 1px) repeat;
	background-size: 12px 12px;
	pointer-events: none;
}

@media screen and (max-width:769px) {
	.services-container {
		display: flex;
		flex-direction: column;
	}

	.custom-service-text {
		font-size: 8rem;

	}

}