.services-container {
	display: flex;
	justify-content: space-between;
}

.custom-service-text {
	font-size: 10rem;
	font-weight: 700;
}



@media screen and (max-width:769px) {
	.services-container {
		display: flex;
		flex-direction: column;
	}

	.custom-service-text {
		font-size: 8rem;

	}

}